* {
    margin: 0;
}

/*********************HEADER STYLE BEGIN****************************/

header {
    background: #303030;
    height: 30rem;
    width: 100%;
    color: white;
    font-family: 'Inter';
}

header h1 {
    font-weight: 600;
    font-size: 3.75rem;
    padding-top: 12.875rem;
    padding-left: 3.875rem;
}

header h5 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 1.25rem;
    padding-left: 3.875rem;
}

/*********************HEADER STYLE END*******************************/

/*********************SECTION STYLE BEGIN****************************/

/*********************INFO CONTAINER STYLE BEGIN*********************/

.info-container {
    background-color: #F9F9F9;
    height: 14.313rem;
    width: 100%;
    font-family: 'Inter';
}

.info-container ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 6rem;
}

.info-container ul li h3 {
    font-weight: 600;
    font-size: 2.5rem;
}

.info-container ul li p {
    font-weight: 400;
    font-size: 1.25rem;
}

/*********************INFO CONTAINER STYLE END***********************/

/*********************MAIN CONTAINER STYLE BEGIN*********************/

.main-container {
    display: grid;
    grid-auto-flow: column;
    font-family: 'Inter';
    width: 100%;
}

.main-container-texto h2 {
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 16rem;
    padding-left: 4.813rem;
}

.main-container-texto p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.875rem;
    width: 45.938rem;
    height: 10.063rem;
    padding-top: 3rem;
    padding-bottom: 19.625rem;
    padding-left: 4.813rem;
}

.main-container-img {
    text-align: center;
}

.main-container-img img {
    height: 37.813rem;
    width: 31.875rem;
    padding-top: 5.125rem;
    padding-bottom: 5.75rem;
}

/*********************MAIN CONTAINER STYLE END***********************/

/*********************FORM CONTAINER STYLE BEGIN*********************/

.form-container {
    background: #303030;
    height: 39.875rem;
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h3 {
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2rem;
    width: 90rem;
    text-align: center;
    padding-top: 5.438rem;
    padding-bottom: 3rem;
}

.form-container form input {
    width: 31.75rem;
    height: 4.5rem;
    background: #FFFFFF;
    border-radius: 0.625rem;
    margin-bottom: 3.875rem;
    padding-left: 1.875rem;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
    background-color: white;
}

input::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
}

.form-btn {
    width: 17.875rem;
    height: 4.625rem;

    background: #C07212;
    border-radius: 0.625rem;
    color: white;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.875rem;
    border: none;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #e5993b;
    transition: 0.5s;
}

.span-form {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.25rem;
    color: #C07212;
    text-align: center;
    margin-top: 1rem;
}

/*********************FORM CONTAINER STYLE END*********************/

/*********************SECTION STYLE END****************************/


/*****************************************************************/
/*********************RESPONSIVIDADE******************************/
/*****************************************************************/


@media screen and (max-width: 1024px) {

    /*********************HEADER STYLE BEGIN*********************/
    header h1 {
        font-size: 2.5rem;
    }

    /*********************HEADER STYLE END***********************/



    /*********************SECTION STYLE BEGIN********************/
    /*********************INFO CONTAINER STYLE BEGIN*************/
    .info-container ul li h3 {
        font-size: 2rem;
    }

    .info-container ul li p {
        font-size: 1rem;
    }

    /*********************INFO CONTAINER STYLE END***************/


    /*********************MAIN CONTAINER STYLE BEGIN*************/
    .main-container-texto {
        width: 60%;
    }

    .main-container-texto h2 {
        width: 500px;
        font-size: 1.5rem;
        padding-left: 4.5rem;
        padding-top: 10rem;
    }

    .main-container-texto p {
        font-size: 1rem;
        padding-left: 4.5rem;
        padding-bottom: 0;
        width: 26rem;
        line-height: 1.5rem;
    }

    .main-container-img img {
        width: 21.875rem;
        padding: 0;
    }

    /*********************MAIN CONTAINER STYLE EDN***************/

    /*********************FORM CONTAINER STYLE BEGIN*************/
    .form-container {
        height: 30rem;
    }

    .form-container h3 {
        font-size: 1.5rem;
        width: 100%;
    }

    .form-container form input {
        width: 21rem;
        height: 2.5rem;
        padding-left: 1.3rem;
        font-size: 1rem;
    }

    .form-btn {
        width: 11rem;
        height: 2.5rem;
        font-size: 1rem;
        border: none;
    }

    .span-form {
        font-size: 0.9rem;
    }

    /*********************FORM CONTAINER STYLE END***************/
}










@media screen and (max-width: 768px) {

    /*********************HEADER STYLE BEGIN*********************/
    header h1 {
        font-size: 2rem;
    }

    /*********************HEADER STYLE END***********************/



    /*********************SECTION STYLE BEGIN********************/
    /*********************INFO CONTAINER STYLE BEGIN*************/
    .info-container ul li h3 {
        font-size: 1.5rem;
    }

    .info-container ul li p {
        font-size: 0.8rem;
    }

    /*********************INFO CONTAINER STYLE END***************/


    /*********************MAIN CONTAINER STYLE BEGIN*************/

    .main-container-texto h2 {
        width: 300px;
        font-size: 1.2rem;
    }

    .main-container-texto p {
        font-size: 1rem;
        width: 300px;
    }

    .main-container-img img {
        width: 20rem;
    }

    /*********************MAIN CONTAINER STYLE EDN***************/

    /*********************FORM CONTAINER STYLE BEGIN*************/
    .form-container {
        height: 25rem;
    }

    .form-container h3 {
        font-size: 1.3rem;
        width: 100%;
    }

    .form-container form input {
        width: 15rem;
        height: 2rem;
        padding-left: 1rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .form-btn {
        width: 8rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .span-form {
        font-size: 0.7rem;
    }

    /*********************FORM CONTAINER STYLE END***************/
}









@media screen and (max-width: 426px) {

    header {
        height: 15rem;
    }

    /*********************HEADER STYLE BEGIN*********************/
    header h1 {
        font-size: 1.4rem;
        padding-top: 7rem;
        padding-left: 1rem;
    }

    header h5 {
        font-size: 1rem;
        padding-left: 1rem;
    }

    /*********************HEADER STYLE END***********************/



    /*********************SECTION STYLE BEGIN********************/
    /*********************INFO CONTAINER STYLE BEGIN*************/
    .info-container {
        height: 6rem;
    }

    .info-container ul {
        padding-top: 2rem;
        padding-left: 0;
    }

    .info-container ul li h3 {
        font-size: 1rem;
    }

    .info-container ul li p {
        font-size: 0.5rem;
    }

    /*********************INFO CONTAINER STYLE END***************/


    /*********************MAIN CONTAINER STYLE BEGIN*************/

    .main-container-texto h2 {
        width: 180px;
        font-size: 1rem;
        padding-left: 1rem;
        padding-top: 2rem;
    }

    .main-container-texto p {
        font-size: 0.7rem;
        width: 180px;
        padding-left: 1rem;
        padding-top: 2rem;
        line-height: 0.9rem;
    }

    .main-container-img img {
        width: 13rem;
        height: 18rem;
    }

    /*********************MAIN CONTAINER STYLE EDN***************/

    /*********************FORM CONTAINER STYLE BEGIN*************/
    .form-container {
        height: 17rem;
    }

    .form-container h3 {
        font-size: 1rem;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .form-container form input {
        width: 13rem;
        height: 1.5rem;
        padding-left: 0.8rem;
        font-size: 0.6rem;
        margin-bottom: 1.5rem;
    }

    .form-btn {
        width: 7rem;
        height: 1.5rem;
        font-size: 0.6rem;
        border-radius: 0.2rem;
    }

    .span-form {
        font-size: 0.6rem;
    }

    /*********************FORM CONTAINER STYLE END***************/







    @media screen and (max-width: 376px) {

        header {
            height: 10rem;
        }

        /*********************HEADER STYLE BEGIN*********************/
        header h1 {
            font-size: 1.1rem;
            padding-top: 3.5rem;
            padding-left: 1rem;
        }

        header h5 {
            font-size: 0.7rem;
            padding-left: 1rem;
        }

        /*********************HEADER STYLE END***********************/



        /*********************SECTION STYLE BEGIN********************/
        /*********************INFO CONTAINER STYLE BEGIN*************/
        .info-container {
            height: 5rem;
        }

        .info-container ul {
            padding-top: 1.5rem;
            padding-left: 0;
        }

        .info-container ul li h3 {
            font-size: 0.8rem;
        }

        .info-container ul li p {
            font-size: 0.5rem;
        }

        /*********************INFO CONTAINER STYLE END***************/


        /*********************MAIN CONTAINER STYLE BEGIN*************/

        .main-container-texto h2 {
            width: 120px;
            font-size: 0.9rem;
            padding-left: 1rem;
            padding-top: 2rem;
        }

        .main-container-texto p {
            font-size: 0.5rem;
            width: 120px;
            padding-left: 1rem;
            padding-top: 1rem;
            line-height: 0.7rem;
        }

        .main-container-img img {
            width: 13rem;
            height: 18rem;
        }

        /*********************MAIN CONTAINER STYLE EDN***************/

        /*********************FORM CONTAINER STYLE BEGIN*************/
        .form-container {
            height: 15rem;
        }

        .form-container h3 {
            font-size: 0.8rem;
            padding-top: 2rem;
            padding-bottom: 1.5rem;
        }

        .form-container form input {
            width: 10rem;
            height: 1rem;
            padding-left: 0.6rem;
            font-size: 0.5rem;
            margin-bottom: 1.5rem;
        }

        .form-btn {
            width: 5rem;
            height: 1.2rem;
            font-size: 0.5rem;
            border-radius: 0.2rem;
        }

        .span-form {
            font-size: 0.5rem;
        }

        /*********************FORM CONTAINER STYLE END***************/
    }







    @media screen and (max-width: 320px) {

        header {
            height: 10rem;
        }

        /*********************HEADER STYLE BEGIN*********************/
        header h1 {
            font-size: 1rem;
            padding-top: 3.5rem;
            padding-left: 0.5rem;
        }

        header h5 {
            font-size: 0.6rem;
            padding-left: 0.5rem;
        }

        /*********************HEADER STYLE END***********************/



        /*********************SECTION STYLE BEGIN********************/
        /*********************INFO CONTAINER STYLE BEGIN*************/
        .info-container {
            height: 4rem;
        }

        .info-container ul {
            padding-top: 1.2rem;
        }

        .info-container ul li h3 {
            font-size: 0.6rem;
        }

        .info-container ul li p {
            font-size: 0.4rem;
        }

        /*********************INFO CONTAINER STYLE END***************/


        /*********************MAIN CONTAINER STYLE BEGIN*************/

        .main-container-texto h2 {
            width: 100px;
            font-size: 0.7rem;
            padding-left: 1rem;
            padding-top: 2rem;
        }

        .main-container-texto p {
            font-size: 0.4rem;
            width: 100px;
            padding-left: 1rem;
            padding-top: 1rem;
            line-height: 0.5rem;
        }

        .main-container-img img {
            width: 10rem;
            height: 15rem;
        }

        /*********************MAIN CONTAINER STYLE EDN***************/

        /*********************FORM CONTAINER STYLE BEGIN*************/
        .form-container {
            height: 12rem;
        }

        .form-container h3 {
            font-size: 0.7rem;
            padding-top: 1rem;
            padding-bottom: 1.2rem;
        }

        .form-container form input {
            width: 8rem;
            height: 0.8rem;
            padding-left: 0.5rem;
            font-size: 0.4rem;
            margin-bottom: 1.3rem;
        }

        .form-btn {
            width: 4rem;
            height: 1rem;
            font-size: 0.4rem;
            border-radius: 0.2rem;
        }

        .span-form {
            font-size: 0.4rem;
        }

        /*********************FORM CONTAINER STYLE END***************/
    }

}