* {
    margin: 0;
}

header {
    background: #303030;
    height: 30rem;
    color: white;
    font-family: 'Inter';
    padding-left: 3.875rem;
}

header h1 {
    font-weight: 600;
    font-size: 3.75rem;
    padding-top: 12.875rem;
}

header h5 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 1.25rem;
}